.title {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 1.1em;
}

.post {
  align-items: flex-start;
  background-color: #ddd;
  color: #333;
  display: flex;
  font-size: 1.15em;
}

.image-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.post-image {
  margin-bottom: 5px;
}

.caption {
  font-size: .75em;
  margin: 0;
}

.nav-buttons {
  margin: 20px 0;
}

.post-button {
  background-image: linear-gradient(#cc2, #2d2, #080);
  border: 1px solid #333;
  border-radius: 15px;
  color: #333;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.post-button:hover {
  background-image: linear-gradient(#d26, #d22, #800);
  color: #333;
  text-decoration: none;
}

.post-text p {
  margin: 0 0 10px 15px;
  padding: 0;
}

q {
  display: inline-block;
  font-size: .9em;
  font-style: oblique;
  margin: 0 15px;
}
