@import "main.css";
@import "aside.css";
@import "posts.css";

body {
  background-color: #000;
  color: #ddd;
  font: 14px/1.4 Verdana, sans-serif;
  margin: 0;
}

.wrapper {
  display: grid;
  grid: auto / 75% 25%;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
  margin: auto;
  max-width: 1200px;
}

.spacing {
  margin: 0;
  padding: 15px;
}

/* text */
h1 {
  font-size: 2.2em;
  font-weight: bolder;
  letter-spacing: .4rem;
  margin: 5px 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: .1rem;
  margin-left: 6px;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 5px;
}

/* header section */
header {
  background: url("../images/clouds-2.jpg") no-repeat;
  background-size: cover;
  grid-area: header;
  text-align: center;
}

/* nav section */

nav {
  background-color: #369;
  grid-column: 1 / span 2;
}

ul {
  grid-area: nav;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  width: 100%;
}

li {
  display: inline;
  font-size: 1.6em;
  padding: 10px;
}

nav a {
  text-decoration: none;
}

.active {
  color: #ddd;
}

/* footer section */
footer {
  background-color: #333;
  grid-area: footer;
  text-align: right;
}

.copy {
  font-size: .8em;
  margin: 0;
}

/* Media Queries */
/* Note: Attempt to place media queries in separate file failed.  From KB, I learned this is a known issue. */
@media (max-width: 410px) {
  h2 {
    margin: 10px 0 0;
  }

  li {
    font-size: .9em;
  }

  /* Aside */
  .avatar {
    align-self: center;
    width: 100%;
  }

  .links {
    justify-content: start;
  }

  /* Post Pages */
  .title {
    flex-direction: column;
  }

  .date {
    margin: 0 0 10px;
  }

  .post-text p {
    margin: 10px 0;
  }
}

@media (max-width: 493px) {
  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.5em;
  }

  li {
    font-size: 1.2em;
    padding: 5px;
  }

  /* Aside */
  aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .avatar {
    order: 1;
  }

  .links {
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    order: 2;
  }

  .links a {
    padding: 5px;
  }

  .about {
    order: 3;
  }

  /* Post Pages */
  .post {
    flex-direction: column;
  }

  .image-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .caption {
    display: none;
  }

  .post-image {
    width: 75px;
  }
}

@media (max-width: 700px) {
  li {
    font-size: 1.4em;
  }

  /* Aside */
  .avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .links {
    align-items: flex-start;
  }

  /* Post Pages */
  .post-image {
    height: 100%;
    object-fit: cover;
    width: 150px;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
  }

  .post-button {
    margin: 2px;
  }
}

@media (max-width: 850px) {
  .wrapper {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-columns: 100%;
  }

  h4 {
    display: none;
  }

  h5 {
    display: none;
  }

  /* Aside */
  aside {
    display: grid;
    gap: 5px;
    grid: 50% 50% / 25% 75%;
  }

  .about {
    font-size: 1em;
    grid-column: 2 / 2;
    grid-row: 1 / span 2;
  }

  .links {
    align-self: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 901px) {
  /* Aside */
  .name {
    font-size: 1em;
  }

  .title {
    font-size: .85em;
  }

  .links {
    align-items: center;
    flex-direction: column;
  }
}
