@import "./aside.css";
@import "./posts.css";

body {
  background-color: #000;
  color: #ddd;
  font: 14px/1.4 Verdana, sans-serif;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  margin: auto;
  max-width: 1200px;
  padding: 10px;
}

.spacing {
  margin: 0;
  padding: 15px;
}

/* text */
h1 {
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: .4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: .1rem;
  margin-left: 6px;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 5px;
}

a {
  color: #2d2;
}

a:hover {
  color: #d22;
}

/* header section */
header {
  background: url("../images/clouds-2.jpg") no-repeat;
  background-size: cover;
  grid-area: header;
  text-align: center;
}

/* main section */
main {
  background-color: #ddd;
  color: #333;
  grid-area: main;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 0 15px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  min-width: 150px;
  padding: 10px;
  width: 25%;
  flex-grow: 1;
}

.more-button {
  border-radius: 15px;
  background-color: #2d2;
  max-width: 150px;
  padding: 5px;
}

.more-button:hover {
  background-color: #d22;
}

/* footer section */
footer {
  background-color: #333;
  grid-area: footer;
  text-align: right;
}

.copy {
  font-size: .8em;
  margin: 0;
}
